<body>
<header><%= render partial: 'partial/header'%></header>
<div class="container">
<h1 class="library-title">Books Library</h1>

<% if user_signed_in? && current_user.customer? %>
  <div class="search-form">
    <%= search_form_for @q do |f| %>
      <%= f.label :author_or_title_cont, "Search by Author or Title" %>
      <%= f.search_field :author_or_title_cont, placeholder: "Search by title/authore" %>
      <%= f.submit "Search", class: "btn btn-search" %>
    <% end %>
  </div> 
<% end %>

<div class="book-list">
<% if params[:q].present? && @books.empty? %>
<p class="notice">No books found matching your search criteria </p>
<%= button_to "Home", "/books", method: :get, class: "btn btn-primary" %>
  <% elsif @books.any? %>
  <% @books.each do |book| %>
    <li class="book-item"><%= link_to book.title, book %></li>
  <% end %>
  <%end%>
</div>

<div class="actions">
  <% if user_signed_in? && current_user.owner? %>  
    <p><%= link_to "New book", new_book_path, class: "btn btn-secondary" %></p> 
  <% end %>
</div>
</div>
</body>
  
